<h1><%= @user.username %>'s profile</h1>
<h2><%= @user.name %></h2>

<p><strong>Bio</strong>
	<%= @user.bio %>
	</p>


<% @user.tweets.each do |tweet| %>
<div class='well'>
<strong><%= tweet.user.name %></strong><%= tweet.user.username %>
<p>
	<%= tweet.message %>
</p>
</div>
<% end %>